body {
  min-height: 100vh;
  background-image: url("imagenes_prueba/fondo.WEBP");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjetas {
  color: #ffffff;
  text-align: center;
}

/* Contenedor principal */
.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  width: 50%;
  max-width: 1200px; /* Limitar el ancho máximo del contenedor */
}

/* Estilo de cada tarjeta */
.card {
  box-shadow: 0 4px 6px #0000001a;
  overflow: hidden;
  text-align: center;
  background-color: #000000;
}

/* Color del título */
.titulo-blanco {
  color: #ffffff;
}

/* Imagen dentro de la tarjeta */
.card-header img {
  width: 80%;
  height: 80%;
}

/* Estilo del cuerpo de la tarjeta */
.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1rem;
  color: #ffffff;
}

/* responsive seccion 1*/
@media only screen and (max-width: 1024px) {
  .contenedor {
    width: 90%; /* Ajustar el ancho al 90% en pantallas menores a 1024px */
  }
}

@media only screen and (max-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr;
    width: 90%; /* Ajustar el ancho al 100% en pantallas menores a 768px */
  }
}

/* sección 2 parte inferior*/
.nueva-seccion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

/* Estilo de cada cuadro */
.cuadro {
  box-shadow: 0 4px 6px #0000001a;
  overflow: hidden;
  text-align: center;
  background-color: #ffffff;
  padding: 15px;
}

/* Imagen dentro del cuadro */
.cuadro img {
  width: 100%;
  height: auto;
}

/* Responsive para la sección 2 */
@media only screen and (max-width: 1024px) {
  .nueva-seccion {
    grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas medianas */
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .nueva-seccion {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    width: 90%;
  }
}



